.Menuitem {
    display: flex;
    align-items: center;
    font-size: 1.85rem;
    font-weight: 700;
    border-right: 0.3rem solid transparent;
    border-radius: 4px;
    transition: background-color 200ms ease-in-out 0s;

    &.active {
        color: #fe2c55;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.title {
    margin-left: 10px;
    padding: 8px;
    border: none !important;
    outline: none !important;
}
