.Menuitem {
    display: flex;
    align-items: center;
    font-size: 1.85rem;
    font-weight: 700;
    border-right: 0.3rem solid transparent;
    border-radius: 4px;
    transition: background-color 200ms ease-in-out 0s;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     left: 8px;
    //     right: 8px;
    //     top: 0px;
    //     height: 1px;
    //     background: rgba(22, 24, 35, 0.12);
    //     // transform: scaleY(0.5);
    // }

    &.active {
        color: #fe2c55;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.title {
    margin-left: 10px;
    padding: 8px;
    border: none !important;
    outline: none !important;
}
